<meta http-equiv="refresh" content="120" />
<h3>Latest News</h3>
<% @rss.items.each do |r| %>		

<%= r.try(:title)%>

<%headline = r.try(:title)%>
<%link_article = r.try(:link)%>
<%= link_to "Read full article" , {:controller => 'newscategory', :action => 'description', :hl => headline, :al => link_article} %>
<br>
<br>
<% end %>
