<style>
ul{text-align: right;}
</style>  
<ul class="nav">
<li><%= link_to('Discussion',news_discussions_path) %></li>
  <% if user_signed_in? %>
    <i><%= "Hello! " + current_user.email %></i>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
  <% else %>
    <%= link_to('Login', new_user_session_path) %>  
  <% end %>
</ul>